.elements {
  margin: 47.25px auto 0 auto;
  max-width: 882px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  box-sizing: border-box;
}

@media screen and (max-width: 920px) {
  .elements {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    max-width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .elements {
    grid-template-columns: 1fr;
    max-width: 282px;
  }
}