@import url(__image/item__image.css);
@import url(__title/item__title.css);
@import url(__checkbox/item__checkbox.css);
@import url(__fragment/item__fragment.css);
@import url(__template/item__template.css);
@import url(__delete-button/item__delete-button.css);
@import url(__delete-button/item__delete-button_hidden.css);
@import url(__checkbox/_active/item__checkbox_active.css);
@import url(__like/item__like.css);
@import url(__like-counter/item__like-counter.css);

.item {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  max-width: 282px;
  object-fit: cover;
  box-sizing: border-box;
  display: grid;
}